<h1 class="mt-5 mb-5 display-1">Simão Belchior <span class="h4 d-none d-lg-inline">Software Engineer</span></h1>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card text-dark border-success">
      <div class="card-body">
        <h5 class="card-title">Present</h5>
        <p class="card-text text-left">
          Acquiring @ <a href="https://saltpay.co" title="SaltPay">SaltPay</a><br />
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-dark border-warning">
      <div class="card-body">
        <h5 class="card-title">Past</h5>
        <p class="card-text text-left">
          Head of Engineering @ <a href="https://switchpayments.com" title="Switch">Switch</a><br />
          Volunteer @ <a href="https://www.facebook.com/pages/category/Community/Amigos-de-Aldoar-243977712418255/" title="Amigos de Aldoar">Amigos de Aldoar</a>
          Partner @ <a href="https://www.meyash.co" title="Meyash">Meyash</a><br />
          Co-Founder & Developer @ <a href="https://www.posso-ir.com" title="Poss ir?">Posso ir?</a><br />
          Senior Project Manager @ <a href="https://www.vizzuality.com" title="Vizzuality">Vizzuality</a><br />
          Vice President @ <a href="https://alumniei.pt/" title="Alumni EI">Alumni EI</a><br />
          Analyst Developer @ <a href="https://www.unep-wcmc.org/" title="UNEP-WCMC">UNEP-WCMC</a><br />
          Freelancer @ <a href="http://www.gtportugal.com/" title="GT Portugal">GT Portugal</a><br />
          Software Engineering Student @ <a href="https://www.fe.up.pt/" title="Faculty of Engineering University of Porto">FEUP</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col mb-4">
    <div class="card text-dark border-danger">
      <div class="card-body">
        <h5 class="card-title">Find me</h5>
        <p class="card-text text-left">
          Github: <a href="https://www.github.com/simaob" title="Me on Github">simaob</a><br />
          LinkedIn: <a href="https://www.linkedin.com/in/simaobelchior" title="Me on Linkedin">Simão Belchior</a><br />
          Twitter: <a href="https://www.twitter.com/belchior" title="Me on Github">@belchior</a>
        </p>
      </div>
    </div>
  </div>
</div>
